* {    /* GLOBAL */
    font-family: 'Georgia', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
html {
    background: #fff;
    color: #05345C;
}
h1, h2, h3 {
    font-weight: lighter;
}
h1 {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-size: 20px;
}
a, a:visited {
    color: #fff;
}
a:hover {
    text-decoration: underline;
        text-decoration-thickness: 3px;
}
table {
    width: 100%;
    max-width: 800px;
    margin: 1.5em auto;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
    overflow-x: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
table, th {
    font-size: 20px;
    border-collapse: collapse;
}
table, th, td {
    padding: 10px;
}
ul {
    list-style: none;
}
ol {
    color: #fff;
}
main {
    background: linear-gradient(to bottom, #5973aa 0%, #fff 100%);
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
aside {
    margin-top: 50px;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
.container  {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 20px;
}
.btn { 
    display: inline-block;
    width: fit-content;
    padding: 16px;
    font-size: 22px;
    background: #05345C;
    color: #fff;
}
a.btn {
    text-decoration: none;
}
.btn:hover {
    background: #A58A4B;
    color: #05345C;
}
nav {    /* HEADER/NAV */
    background: #05345C;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: solid 3px #fff;
}
nav ul {
    display: flex;
    margin-left: auto;
    gap: 40px;
    color: #fff;
}
nav a {
    font-size: 1.5rem;
    padding: 0 15px;
}
.main-txt {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.cards-title {    /* CARDS */
    margin: 2rem 0;
    align-items: left;
    font-size: 2.5rem;
}
.info-cards {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 20px;
    width: 100%;
}
.info-card {
    background: #05345C;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.info-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.card-title {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 30px;
    margin-bottom: 30px;
}
.card-info {
    padding: 10px;
    font-size: 20px;
    line-height: 1.6;
}
.card-info li {
    margin-bottom: 10px;
    list-style-position: inside;
    text-indent: -1.2em;
    padding-left: 1.2em;
}
.details {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.details caption {
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 0.5em;
}
.details thead th{
    background-color: #05345C;
    color: #fff;
    padding: 1em;
    text-align: left;
}
.details tbody tr:nth-child(even){
    background-color: #bccbec;
}
.details th,
.details td{
    padding: 1em;
    border-bottom: 3px solid #A58A4B;
    vertical-align: top;
}

/* ADD MEDIA QUERIES */
