* { 
    box-sizing: border-box;
}
html {
    height: 100%;
    background: #f4f4f4;
    color: #05345C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}
body.details main {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1rem;
} 
body.details .img-grid figure {
    margin: 0;
    width: 100%;
    height: auto;
}
body.details .img-grid img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    flex: 1;
}
h1 {
    font-size: 2.5rem;
}
a {
    color: #f4f4f4;
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
}
ol {
    font-size: 25px;
}
nav {
    display: flex;
    padding: 0.6rem;
    background: #05345C;
    color: #f4f4f4;
}
nav img {
    margin-top: 15px;
}
nav ul {
    display: flex;
    margin-left: auto;
    gap: 50px;
    font-size: 1.2rem;
}
table {
    width: 100%;
    max-width: 800px;
    border-collapse: separate;
    background: #05345C;
    color: #f4f4f4;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
table, th, td {
    padding: 6px 8px;
}
caption {
    margin-bottom: 20px;
}
section.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
section.hero .content {
    flex: 3;
    margin: 4rem;
}
section.hero aside {
    flex: 2;
}
.hero img {
    border-radius: 50px;
    margin-top: 2rem;
}
.details .panel-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
    align-items: stretch;
}
.details .panel {
    background: #05345C;
    color: #f4f4f4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}
.details .img-panel .img-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    text-align: center;
}
.details .table-panel table {
    width: 100%;
    border-collapse: collapse;
}
.details .table-panel th,
.details .table-panel td {
    padding: 0.5rem;
    border: 1px solid #f4f4f4;
}
.details .building-distances,
.details .weather-container {
    border-radius: 0.5rem;
    text-align: center;
    font-size: 20px;
}

.details .building-distances img,
.details .weather-container img{
    margin: 2rem;
}

section.overview {
    display: flex;
    gap: 2rem;
}
section.overview article {
    flex: 1 1 calc((100% - 2rem*2) / 3);
    background: #05345C;
    color: #f4f4f4;
    padding: 1.2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}
footer {
    display: flex;
    justify-content: center;
    background: #05345C;
    color: #f4f4f4;
    gap: 5rem;
    margin-top: 1rem;
}
footer a {
    color: inherit;
}
