* {    /* GLOBAL */
    font-family: 'Georgia', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    background: #fff;
    color: #05345C;
}

h1, h2, h3 {
    font-weight: lighter;
}

h1 {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 20px;
}

a, a:visited {
    color: #fff;
}


a:hover {
    text-decoration: underline;
    text-decoration-color: #ED2D24;
    text-decoration-thickness: 3px;
}

ul {
    list-style: none;
}

.container  {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 20px;
}

.btn { 
    display: inline-block;
    width: fit-content;
    padding: 16px;
    font-size: 22px;
    background: #05345C;
    color: #fff;
}

a.btn {
    text-decoration: none;
}

.btn:hover {
    background: #A58A4B;
    color: #05345C;
}

nav {    /* HEADER/NAV */
    background: #05345C;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: solid 3px #A58A4B;
}

nav img {    /* UoC logo */
    margin-right: auto;
}

nav ul {
    display: flex;
    margin-left: auto;
    margin-right: 5%;
    gap: 40px;
    color: #fff;
}

nav a {
    font-size: 2rem;
}

.hero {    /* HERO */
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    background: linear-gradient(to bottom, #5973aa 0%, #fff 100%);
}

.hero aside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #05345C;
}

.hero aside img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.hero-txt {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.cards-title {    /* CARDS */
    margin: 2rem 0;
    align-items: left;
}

.info-cards {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 20px;
    width: 100%;
}

.info-card {
    background: #05345C;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.card-title {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 30px;
    margin-bottom: 30px;
}

/* ADD MEDIA QUERIES */
